transformers
torch==1.8.0
english-words
compress-pickle<2.0.0
pandas
scapy
textacy==0.10.1
nltk
cached_property
fast_json
bs4
boto3
gender-guesser
langdetect
tqdm
textstat
vaderSentiment
mobi
EbookLib
tika
spacy_wordnet
gensim
word2number
